// animation container
  .animation {  
    // place in the middle of the screen
    margin: auto;
    
    width: 300px;
    height: 300px;
    
    // we set the horizontal size to 1800% because we have 18 frames
    // and we position the sprite so that left frame is visible
    background-image: url('../../images/spritesheet.png');
    background-size: 2300%, 100%;
    background-position: left;
    background-repeat: no-repeat;
    
    // 'animation-timing-function' ensures users won’t see half of one frame and half of the following frame both at the same time
    // we set the number of steps to 17 because we have 18 frames 
    animation-name: fill;
    animation-duration: 1s;
    animation-timing-function: steps(22);
    animation-iteration-count: infinite;
  }
  
  // during the animation we move the background-image from left to right
  @keyframes fill {
    from {
      background-position: left;
    }
    to { 
      background-position: right;
    }
  }