@font-face {
    font-family: KreativeSquare;
    src: url(./kreative_square/KreativeSquare.ttf);
}
@font-face {
    font-family: Nikea;
    src: url(./nikea/NIKEA.otf);
}
@font-face {
    font-family: RiluRegular;
    src: url(./rilu/Rilu-Regular.otf);
}
@font-face {
    font-family: TheSignature;
    src: url(./thesignature/Thesignature.otf);
}