@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}
.warning{
  background-color: rgba(0, 0, 0, 0.812);
  font-family: RiluRegular;
  padding: 1em;
}
.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 90%;
}
body .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #9b9b9b;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
body .form__field::-moz-placeholder {
  color: transparent;
}
body .form__field:-ms-input-placeholder {
  color: transparent;
}
body .form__field::placeholder {
  color: transparent;
}
body .form__field:-moz-placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
body .form__field:-ms-input-placeholder ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
body .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
body .form__label {
  position: absolute;
  top: 0%;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
body .form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #ecb97e, #ffdfd2);
     border-image: linear-gradient(to right, #ecb97e, #ffdfd2);
  border-image-slice: 1;
}
body .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ecb97e;
  font-weight: 700;
}
body .form__field:required, body .form__field:invalid {
  box-shadow: none;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  body input[type=checkbox],
body input[type=radio] {
    --active: #facf9f;
    --active-inner: #000000;
    --focus: 2px #eec392;
    --border: #e2cbb1;
    --border-hover: #ecb97e;
    --background: #000000;
    --disabled: #919191;
    --disabled-inner: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  body input[type=checkbox]:after,
body input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  body input[type=checkbox]:checked,
body input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  body input[type=checkbox]:disabled,
body input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  body input[type=checkbox]:disabled:checked,
body input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  body input[type=checkbox]:disabled + label,
body input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  body input[type=checkbox]:hover:not(:checked):not(:disabled),
body input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  body input[type=checkbox]:focus,
body input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  body input[type=checkbox]:not(.switch),
body input[type=radio]:not(.switch) {
    width: 21px;
  }
  body input[type=checkbox]:not(.switch):after,
body input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  body input[type=checkbox]:not(.switch):checked,
body input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  body input[type=checkbox] + label,
body input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  body input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  body input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  body input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  body input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  body input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  body input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  body input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  body input[type=radio] {
    border-radius: 50%;
  }
  body input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  body input[type=radio]:checked {
    --s: .5;
  }
}
body button {
  margin: 0.5em;
  padding: 0.5em;
  transition: 0.5s;
  font-size: 1.2rem;
  background-color: #000000;
  color: #9b9b9b;
  border: 0;
}
body button:hover {
  color: #ecb97e;
  transition: 0.1s all;
  font-size: 1.4rem;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  body button:hover {
    background-image: linear-gradient(to right, #ecb97e, #ffdfd2);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
body div {
  margin: 20px;
  align-items: center;
  text-align: center;
}
body a {
  font-style: none;
  color: inherit;
  text-decoration: none;
  transition: all 0.5s;
}
body a:hover {
  color: #ecb97e;
  font-size: 1.1em;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  body a:hover {
    background-image: linear-gradient(to right, #ecb97e, #ffdfd2);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
body .gradient_text {
  color: #ecb97e;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  body .gradient_text {
    background-image: linear-gradient(to right, #ecb97e, #ffdfd2);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
body .buttons {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 5px;
  letter-spacing: 4px;
  display: flex;
  color: #9b9b9b;
}
body .buttons .button {
  margin: 0.5em;
  padding: 0.5em;
  transition: 0.5s;
}
body .buttons .button:hover {
  color: #ecb97e;
  transition: 0.1s all;
  font-size: 1.4rem;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  body .buttons .button:hover {
    background-image: linear-gradient(to right, #ecb97e, #ffdfd2);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}